<div class="outerMost">
  <div class="navigation"></div>

  <div class="containerMain">
    <div class="card">
      <div class="primaryDark box">
        <h2 style="font-family: sans-serif;">Signup</h2>

        <form
          class="mainform"
          [formGroup]="registerForm"
          (ngSubmit)="onSubmit()"
        >
          <mat-form-field
            class="Fields f1"
            color="priamry"
            appearance="outline"
          >
            <mat-label>Full Name</mat-label>

            <input
              type="text"
              formControlName="name"
              matInput
              placeholder="Email"
            />

            <mat-error *ngIf="email.invalid && !email.pristine"
              >Invalid email</mat-error
            >
          </mat-form-field>
          <br />

          <mat-form-field
            class="Fields f1"
            color="priamry"
            appearance="outline"
          >
            <mat-label>Phone Number</mat-label>

            <input
              type="tel"
              formControlName="phoneNumber"
              matInput
              placeholder="Email"
            />

            <mat-error *ngIf="email.invalid && !email.pristine"
              >Invalid email</mat-error
            >
          </mat-form-field>
          <br />

          <mat-form-field
            class="Fields f1"
            color="priamry"
            appearance="outline"
          >
            <mat-label>City</mat-label>

            <input
              type="text"
              formControlName="city"
              matInput
              placeholder="Email"
            />

            <mat-error *ngIf="email.invalid && !email.pristine"
              >Invalid email</mat-error
            >
          </mat-form-field>

          <mat-form-field
            class="Fields f1"
            color="priamry"
            appearance="outline"
          >
            <mat-label>Gender</mat-label>

            <input
              type="text"
              formControlName="gender"
              matInput
              placeholder="Email"
            />

            <mat-error *ngIf="email.invalid && !email.pristine"
              >Invalid email</mat-error
            >
          </mat-form-field>

          <mat-form-field
            class="Fields f1"
            color="priamry"
            appearance="outline"
          >
            <mat-label>Email</mat-label>

            <input
              type="email"
              formControlName="email"
              matInput
              placeholder="Email"
            />

            <mat-error *ngIf="email.invalid && !email.pristine"
              >Invalid email</mat-error
            >
          </mat-form-field>

          <br />

          <mat-form-field
            class="Fields f2"
            color="primary"
            appearance="outline"
          >
            <mat-label>Password</mat-label>

            <input
              formControlName="pass"
              matInput
              [type]="hide ? 'password' : 'text'"
              placeholder="Password"
              appearance="ouline"
            />
            <mat-error *ngIf="password.invalid"
              >Password must be at least 6 character long</mat-error
            >
            <button
              type="button"
              matSuffix
              (click)="hide = !hide"
              [attr.aria-label]="'Hide password'"
              [attr.aria-pressed]="hide"
            >
              <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
            </button>

            <mat-hint>Errors appear instantly!</mat-hint>

            <!--<mat-icon matSuffix>sentiment_very_satisfied</mat-icon>-->
          </mat-form-field>

          <br />

          <button
            [disabled]="!registerForm.valid"
            mat-raised-button
            type="submit"
            class="button"
            color="primary"
          >
            Signup
          </button>

          <br />

          <br />

          <button class="loginLink" mat-button routerLink="/login">
            Login instead?
          </button>

          <br />

          <br />
        </form>
      </div>
    </div>
    <!--End of the 1st Section-->
    <app-side-nav></app-side-nav>
  </div>
</div>
